[2016-04-11 05:48] hesselberg opened #6 "Merge the javasscript lazyload files"
Looking at https://github.com/Novicell/novicell-frontend/blob/master/scripts/components/novicell.lazyload.js and https://github.com/Novicell/novicell-frontend/blob/master/scripts/components/novicell.lazyloadResponsive.js, there are some similarities.

Perhaps we should look into merging them, and maybe remove the lazyload image function, that doesn't take responsiveness into account?

[2016-04-11 05:56] hesselberg opened #7 "Move dummy/test files to examples/test folder"
Hola,

We can add a `.npmignore` file to the repo that makes sure we don't add example files such as https://github.com/Novicell/novicell-frontend/blob/master/images/map-pin.png.

So, when you are working on the package, you can get the files, but when someone uses the package for a new project, they won't get them.

Makes sense? We can discuss it further in person.

[2016-04-13 09:20] hesselberg opened #8 "Specific gutters on different breakpoints"
Had a chat with @KimDolleris about adding specific gutters on different breakpoints. Say on a tablet we want a gutter on 30px, but on desktop we want it to be 40px.

mixins.grid.less:22
[code]

Looking at the above code, I guess we could add various variables for the gutter, so, maybe something like `@xs-gutter`, and so on for each breakpoint. By default they should all reference the main `@gutter

[2016-04-13 10:11] KimDolleris commented on #8
Great idea

[2016-04-13 10:46] Dan9boi commented on #8
I think it's a great idea, though we don't use it a lot right now. If we just set it as default, then it's possible to change it as per breakpoint, on all new projects, I think it will be fine...
I have no "cons" for the suggestion :)

[2016-04-15 07:34] hesselberg commented on #8
Cool, I'll try and implement it this weekend 👍

[2016-04-16 08:32] hesselberg commented on #8
Some thoughts so far;

The way we currently output the grid and the columns is based on a looping mixin. In a nutshell this means that to change the padding based on the media query, it will have to affect all of the columns. This means the compiled stylesheet will grow with about 3kb (minified). Is this acceptable?

Also, we haven't discussed what happens with the container and the rows. Should t

[2016-04-18 11:36] Dan9boi commented on #8
#9

[2016-04-18 11:36] #8 closed

[2016-05-04 12:02] Dan9boi commented on #7
Please do it.

[2016-05-04 12:04] Dan9boi commented on #6
Please fix :+1: @hesselberg

[2016-05-12 23:53] hesselberg opened #11 "Optimize package.json"
Look for redundancies in the package.json, specifically jshint.

[2016-05-12 23:55] hesselberg opened #12 "Look into gulp-clean-css"
Might be able to save some space by adding gulp-clean-css after cssnano in our styles task.

[2016-05-19 06:22] marklonquist opened #14 "Add typescript compiler to setup"
Add typescript compiler to setup

[2016-05-27 08:11] Dan9boi commented on #14
#15 Merged pull request

[2016-05-27 08:11] #14 closed

[2016-06-21 08:15] Dan9boi commented on #6
Is anyone using the "lazyload.content"? Should we keep it?

[2016-06-21 08:17] marklonquist commented on #6
I've only ever used the lazyloadresponsive.js lib

[2016-07-03 18:37] Dan9boi opened #22 "icons.json is not being generated"
icons.json is not being generated, after variables is made in the config file. Something is wrong with it. I can _cosole.log_ the object of the icons and the path, but it doesn't work.

Please fix!

[2016-07-03 20:45] hesselberg commented on #7
Okay so, I moved all the development files of the package to a subfolder called examples. I've also updated the package.json, to be more descriptive.

Originally we wanted to exclude development files when cloning the project, but alas, it doesn't seem to be possible. Using a `.npmignore` will just overwrite the `.gitignore`. Therefore, lets stick to the `.gitignore`.

[2016-07-03 21:06] Dan9boi opened #24 "Icons can't change fill"
We have a problem with icons that have inline "fill", can't have their "fill" overritten by CSS.
Therefore we need to remove the inline "fill"-attribute on all svg's before adding them to the sprite.

The problem is similar to this: https://github.com/jkphl/svg-sprite/issues/121

Please fix :)

[2016-07-07 11:51] #7 closed

[2016-07-11 13:46] marklonquist commented on #22
Well ain't that some s**t :)

[2016-07-11 14:18] marklonquist commented on #22
The jsonDistPath was never returned from the config file, so it was undefined in the task for icons.

[2016-07-11 14:23] marklonquist commented on #24
I need a file which has inline fill for testing

[2016-07-19 07:39] #22 closed

[2016-07-19 07:41] Dan9boi commented on #24
@marklonquist here is a svg for testing.
[inline-fill-svg.zip](https://github.com/Novicell/novicell-frontend/files/370899/inline-fill-svg.zip)

[2016-07-19 07:42] Dan9boi commented on #11
@hesselberg maybe we should look at jslint?
also check for updates in node packages.

[2016-07-20 06:37] hesselberg commented on #11
@Dan9boi I agree :)

[2016-07-20 06:38] hesselberg commented on #24
@Dan9boi @marklonquist all working as intended? If so, close :)

[2016-07-20 08:20] #24 closed

[2016-07-22 10:33] Dan9boi opened #31 "Update docs for lazyload images"
Please update due to this commit: https://github.com/Novicell/novicell-frontend/commit/153ade19c9910ba9c7002fa4cdbeb9c5256c76dd

[2016-07-25 08:16] Dan9boi opened #32 "Lazyload google maps"
Insert a google static maps, and then embed a "real" google map when clicking on the image from static maps.
Remember to update the docs.

[2016-07-26 05:49] Dan9boi opened #33 "Font loading"
Make standard async font loading pattern, as novicell.font.js or whatever.

[2016-07-26 12:24] marklonquist commented on #32
Decision changed on this.. Will load map once it gets into view, rather than using a static map - Preserves google maps requests.

[2016-07-26 19:44] #32 closed

[2016-07-26 19:52] Dan9boi commented on #11
As of this commit https://github.com/Novicell/novicell-frontend/commit/a83ae85faa99c6613a42465874a890b4ba71dd8a i've updated every node module in The package.json.
And As of this PR https://github.com/Novicell/novicell-frontend/pull/35 i've added reporters to jscs and jshint, so that it gives warnings about better js and codestyle.

It looks like jshint is the superior version of jslint, so we're

[2016-07-26 19:52] #11 closed

[2016-07-28 09:04] Dan9boi commented on #31
fixed due to https://github.com/Novicell/novicell-frontend/pull/38

[2016-07-28 09:04] #31 closed

[2016-07-28 10:24] #33 closed

[2016-07-28 10:25] jhavmoeller commented on #33
Fixed in pull request #39

[2016-08-01 09:00] Dan9boi opened #40 "Flexbox grid"
Look into flexboxgrid.com and make new cool grid using flexbox and all it's goodness :muscle:

[2016-08-01 09:07] hesselberg commented on #40
@Dan9boi are we comfortable with the support on flexbox? While we have more or less dropped all support for IE9 and below, flexbox isn't failfree in IE11.

http://caniuse.com/#feat=flexbox

Check the known issues tab at the bottom

[2016-08-10 09:09] Dan9boi commented on #40
This issue is put on hold due to lacking support of flexbox in IE11. Right now statistics say IE11 has about 8% (8% Denmark and 4% globally) of the users, which is too many users having issues with this new feature. We will have a look at this at again in a near future, when IE11 drop below 5%.

[2016-08-10 10:32] Dan9boi opened #41 "Split JS plugins into separate repos"
Split all js plugins into separate repos to make easier maintenance and separation of concerns. This is also for not bloating this repository with files not necessarily being used on all projects.

We can then load the the scripts through NPM and extend them via the new syntax mentioned #111.
**Make sure the change the scripts to the new syntax, when moving into seperate repos.**

[2016-08-10 10:47] Dan9boi opened #42 "Add lesshint"
Add less hint to keep code consistency through out less files. Also makes sense as we are linting our JS files.
https://github.com/lesshint/lesshint

[2016-08-17 10:13] Dan9boi opened #44 "No need for vendorprefix mixins"
We have a collection of vendor-prefix-mixins, but we also have autoprefixer, which does the trick aswell.
Maybe we should remove the mixins.

[2016-08-26 12:41] hesselberg opened #47 "Run through all files in regards to soft tabs vs. tabs"

[2016-08-29 06:09] Dan9boi opened #48 "Make docs for HTML task"

[2016-08-29 07:51] Dan9boi opened #49 "SVG bundles"
Make it possible to make multiple SVG sprites, as bundles, eg. for use in CMS backends.
I guess all that needs to be done, is renaming the sprite outputname to the name of the bundle. Find a renaming module and do something like:

[code]

[2016-08-29 07:56] Dan9boi opened #50 "File not found-error"
Would be great if Gulp could throw an error, if there is a reference to a file, that doesn't exist. This would make it far easier to debug typos in filename inside Gulp bundles.

Example:

[code]

**Error: something something, nobicell is not defined.**

[2016-08-30 11:22] tbb2 opened #51 "Flex grid"
Skal vi ikke lave vores "bootstrap"-grid om til at køre med flex-box!?

[2016-08-30 14:25] Dan9boi commented on #51
We just had this talk, please see The following link:
https://github.com/Novicell/novicell-frontend/issues/40

[2016-08-31 09:12] hesselberg opened #52 "Icons task fails on first run-through"
When you clone a clean install of the frontend package, you get the following error when running `gulp`. I'm guessing we need to make sure, it doesn't depend on the `icons` folder in the `dist` folder?

[code]

[2016-08-31 09:27] marklonquist commented on #52
It seems the issue is with how 'fs' creates directories. It does not create them recursively, so if ./dist does not exist, it can't create the icons folder.

Will change creation of folders to a recursive method.

[2016-08-31 09:41] hesselberg commented on #42
We're moving this issue to the next milestone, as we are currently discussing our standards for writing LESS (in the frontenddocs project).

[2016-08-31 09:43] hesselberg commented on #6
We've decided to remove the old lazyload script (novicell.lazyload.js), and only continue with the new responsive one.

[2016-08-31 09:46] hesselberg commented on #41
Pushed to next milestone, as we aren't sure of the impact of this. We still want to do it, but, it will have major impact when we start new projects.

[2016-08-31 09:51] hesselberg commented on #12
Needs to be further investigated, and discussed if this has any impact at all. By the looks of it, it seems it does exactly the same as css nano

[2016-08-31 09:53] hesselberg commented on #51
Closing this issue as it's a duplicate of #40

[2016-08-31 09:53] #51 closed

[2016-08-31 09:55] hesselberg commented on #40
Reopening this issue - this is something we would like to revisit each month, and discuss if we are ready for it.

[2016-09-09 06:46] hesselberg opened #57 "Add .editorconfig to the default frontend package"
Let's consider adding a `.editorconfig` to the default package. Look at the docs we agreed on here: novicell.github.io/frontenddocs/

There's a chapter about it at the bottom.

Look also at http://editorconfig.org/ if in doubt.

[2016-09-09 09:40] #6 closed

[2016-09-09 09:45] Dan9boi commented on #52
Was fixed in PR #53

[2016-09-09 09:45] #52 closed

[2016-09-09 09:58] Dan9boi commented on #44
Pushed for next milestone, as we ran out of time.

[2016-09-09 13:17] Dan9boi opened #58 "Look at srcset"
Look at srcset, and figure out if it could replace the focalpoint image, and make a remarkable simpler js method to lazyload images.
At the time of writing this, IE11 is the only broser which is not supporting the srcset, but maybe this could be fixed with a polyfill. IE11 is at 9.4% market share in Denmark.

http://caniuse.com/#search=srcset

[2016-09-09 13:18] Dan9boi commented on #41
Would it make sense to load each plugin through bower?
What is the pros / cons?
@hesselberg @jhavmoeller

[2016-09-09 13:43] Dan9boi opened #59 "Split framework from build setup"
Divide the frontend framework (scripts and less) from the gulp build setup.
These two things does not directly depend on each other, and should be in separate repos, for easier maintenance.
If we do this, it could be possible to update the gulp build setup separately from the project files like, less components and so on.

[2016-09-12 09:13] Dan9boi opened #60 "Update Bower references"
Update jquery and svg4everybody to the latest versions

[2016-09-12 09:14] Dan9boi commented on #60
We testet jquery 3.0.1 and the latest svg4everybody on a recent project, and had no issues with it.
Please update @Nesuarg

[2016-09-13 02:04] soreng opened #61 "only process changed files"
http://gulpjs.org/recipes/only-pass-through-changed-files.html

to help speedup gulp'ing, we could ignore the files that haven't been changed.

[2016-09-13 05:43] hesselberg commented on #61
+1

[2016-09-21 11:56] camaya opened #64 "Remove bower"
Hi,

I think nowadays bower is kind of obsolete as you can find all your frontend packages on npm.
So I propose we get rid of bower. The advantage is one tool less which means less config.

What do you think?

Cheers,
Cristhian.

[2016-09-22 13:22] Dan9boi opened #65 "Generate themes on watch"
Themes is not being generated on watch.

[2016-09-22 13:46] #65 closed

[2016-09-23 06:09] Dan9boi commented on #64
I see what you are saying, but in my world it is a question of _seperation of concerns_.
NPM is modules for the build tool, where bower is for frontend dependencies.
This helps the developer know where to look for frontend dependencies and doesn't have to look in the node_modules folder, as it is just for the build tool.

We already have gulp running bower, with the `gulp-bower` module, as for kee

[2016-09-26 13:32] camaya commented on #64
Hi Dani,

I understand your point, but I don't completely agree.
I'm all in for separation of concerns, but as I see it, the concern with bower is install frontend packages which npm is 100% capable of doing.
Also, I see that having just one tool is simpler than having two tools which means more configuration and dependencies, but I get that replacing bower with npm now means more work taking into

[2016-09-28 11:40] Dan9boi opened #68 "Focalpoint image errors"
Does not take the parent width, is `data-parent` is set and it doesn't take the full height of the parent.

[2016-09-28 11:48] #68 closed

[2016-09-28 12:47] #44 closed

[2016-09-28 12:47] #60 closed

[2016-09-28 12:47] #57 closed

[2016-09-28 12:52] Dan9boi commented on #12
@Nesuarg can you investigate this? Can gulp-clean-css do anything, that we're not already doing with css nano?

[2016-10-01 11:33] marklonquist opened #70 "mixins.vendor-prefixes.less removed?"
Was this meant to happen:
https://github.com/Novicell/novicell-frontend/commit/117f45f932b620a5312b3b9eb2dc0406f363b911

It breaks the gulp styles task.

[2016-10-04 12:50] #70 closed

[2016-10-10 06:38] Dan9boi commented on #40
@Nesuarg can i get a status of the testing?

[2016-10-10 06:40] Dan9boi commented on #48
@hesselberg can i get a status on this issues? Please note that I moved the due date of the milestone.

[2016-10-10 07:25] Dan9boi commented on #64
No further comments? Then we are going to close this...

[2016-10-11 14:54] Dan9boi commented on #47
This is not yet fixed! :(

[2016-10-11 15:06] #47 closed

[2016-10-13 09:03] SergiSMJ opened #74 "Add a way to force height to the image in lazy load responsive"
I don't know if I miss something but sometimes I have problems with the height on the images with this plugin, the problem was that there is not a way to force the height of the image and crop it. To solve this I modified the plugin to be able to do this, If you interested in this change I can do a pull request.

[2016-10-17 06:39] #48 closed

[2016-10-18 07:54] MKAndersen opened #76 "Rebuild node-sass"
Every time npm is installed through visual studio , when we run gulp through git bash afterwards it requires to rebuild node-sass

[2016-10-25 08:36] Dan9boi commented on #64
@marklonquist

[2016-10-25 10:43] Dan9boi commented on #64
Bower is losing it's take as the package manager for frontend libraries. This is getting more clear as the angular team has stated that angular 2, will never be available through bower (https://github.com/angular/angular/issues/4018).

This means a lot, as the winning argument for keeping bower is _separation of concerns_. This is not any longer a valid argument, as angular 2 will only be availabl

[2016-10-25 10:47] Dan9boi commented on #76
I think @marklonquist has a solution for this issue.

[2016-10-25 10:48] Dan9boi commented on #74
hi, @SergiSMJ
Can you use the height-ratio for changing the ratio of the image?
Or are you looking for a way to force a specific height?

[2016-10-25 11:22] hesselberg commented on #64
@Dan9boi `Find a way to run npm install together with gulp, for backenders` doesn't really make sense? You have to run npm install to get gulp up and running. I guess the "1 line to rule them all" would just be to chain the commands.
`npm install && gulp`

[2016-10-25 11:26] marklonquist commented on #64
I understand what @Dan9boi means - In case new dependencies are added to the project, how will someone who updates through the repository know that these dependencies has been added.. With bower, they were installed automatically when running gulp.

[2016-10-25 11:36] hesselberg commented on #64
Chaining the commands would solve that issue, but I see your point.
Another thing comes to mind; if the developer running the command isn't administrator, the npm install might not have access to writing new folders. I.e. runas/sudo commands might be needed.

[2016-10-25 12:08] SergiSMJ commented on #74
Hi @Dan9boi
Yes this change is to be able to force a specific height :)

[2016-10-28 06:40] Dan9boi commented on #61
I remember that we had this running at some point. As i recall it took just as long time for `gulp-changed` to see if things have changed, as it took to just make new files.

@marklonquist make sure to test timing with / without the `gulp-changed` package...

[2016-10-28 06:41] Dan9boi commented on #74
@Havmoeller can you have a look at this?

[2016-10-28 10:17] marklonquist commented on #76
Tools > Options > Projects and Solutions > External Web Tools > Move $(PATH) up so it's the 2nd value.

![2016-10-28 12_17_12-start page - microsoft visual studio administrator](https://cloud.githubusercontent.com/assets/1456819/19803351/7d33f292-9d08-11e6-989a-1d4476999149.png)

[2016-10-28 10:20] hesselberg commented on #76
Awesome! Perhaps we should create a FAQ, or a common issues list, in the Wiki? This could be a good start for it

[2016-10-28 11:07] Dan9boi commented on #76
@MKAndersen does this help you?

[2016-10-28 11:09] Dan9boi commented on #64
@soreng did you have some input about yarn, and what it does.
Maybe we should look at that, if we are already making changes to our package manager setup...

[2016-10-28 11:44] Dan9boi commented on #49
@marklonquist can you do a codereview and merge this?

[2016-10-31 09:47] MKAndersen opened #81 "Lazyload - "load always" don't work"
Made a pull request to fix this: #80

[2016-10-31 11:56] #81 closed

[2016-10-31 11:59] Dan9boi commented on #50
@marklonquist this does not work if you are using glob syntax in you file paths.
Please use something like https://www.npmjs.com/package/glob-fs instead of FS, which doesn't know glob...

[2016-11-02 12:32] hesselberg commented on #64
I think we should stick to npm, and don't look at Yarn. Yarn is what... 3 weeks old? We don't know if they will abandon the project in a year or two.

Regarding bower, I agree, lets remove it, and replace everything with npm.

[2016-11-02 12:40] hesselberg opened #82 "Consider moving focalpoint from the Novicell frontend to the Novicell Umbraco"
Currently the focalpoint is just an option for Umbraco. Because of this, I don't think it should be a part of the Novicell frontend, as it isn't cross platform friendly.

Discuss!

[2016-11-02 12:43] hesselberg commented on #61
Moved assignee to @Dan9boi, as @marklonquist seems to be occupied with other tasks

[2016-11-02 12:44] hesselberg commented on #74
@jhavmoeller ping

[2016-11-02 13:04] hesselberg commented on #40
Don't forget documentation

[2016-11-04 13:12] Dan9boi commented on #82
@marklonquist @msoelvsteen

[2016-11-04 13:14] Dan9boi opened #83 "Use Webpack"
Consider switching build setup from Gulp to Webpack (4).
Does anyone have experience with Webpack?

https://blog.madewithenvy.com/getting-started-with-webpack-2-ed2b86c68783#.qkfrveivf

[2016-11-04 13:17] hesselberg commented on #83
@marklonquist !

[2016-11-09 15:07] soreng opened #84 "When (npm) installing the packages under node v7.1.0 warnings are given"
the following warnings are issued when executing npm install on a "blank" machine:

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated graceful-fs@1.2.3: graceful-fs v3.0.0 and before will fail on node releases >=

[2016-11-10 12:37] hesselberg commented on #49
Awesome!

[2016-11-10 12:37] #49 closed

[2016-11-11 14:31] #74 closed

[2016-11-11 14:32] SergiSMJ commented on #74
The PR is merged, I close this!

[2016-11-11 14:35] SergiSMJ opened #85 "Why use spaces over tabs?"
Let's debate!

https://www.youtube.com/watch?v=SsoOG6ZeyUI

👾

[2016-11-11 15:51] hesselberg commented on #85
Haha 👍

Seriously though, spaces ;-)

[2016-11-11 15:53] hesselberg commented on #84
@soreng ... and this issue is about what sorry? :-) graceful-fs is a dependency on some of the other packages that we've included in the package. I guess some of the packages depends on a specific version.

[2016-11-11 16:16] SergiSMJ commented on #85
My points are:
- File size, with spaces is bigger
- Atom, Sublime and VS etc... they come by default with tabs (when you use the tab key)
- What is the point to use spaces? When the file is minimized delete all of the spaces & tabs

[2016-11-11 21:20] soreng commented on #84
@hesselberg I know

I was triggered by the message:

Shouldn't we upgrade the packages using the old version?

[2016-11-11 21:23] hesselberg commented on #84
I think thats a great idea if it solves the problem :-) Make a PR and I'll merge it in

[2016-11-14 12:02] Dan9boi commented on #76
Added to the WIKI FAQ: https://github.com/Novicell/novicell-frontend/wiki/Frequently-asked-questions

[2016-11-14 12:02] #76 closed

[2016-11-14 12:22] Dan9boi opened #86 "Remove gulp-sass"
This package is the default foundation for Novicell Projects.
In Novicell we always use LESScss, and I see no reason why this package should support SASS / SCSS when we do not use it.

[2016-11-14 12:27] Dan9boi commented on #85
@SergiSMJ regarding to the editor settings is should have been fixed with the #57 editorconfig. If not, then maybe create a new issue for this.
Regarding the file size i think the difference is too little for this to be an real argument, due to the file size only will change in the repository, and not the final website, as we are minifying everything in production.

I really don't care, as long as

[2016-11-14 12:38] #50 closed

[2016-11-14 12:56] Dan9boi commented on #82
Great idea, i'll take this one.

[2016-11-14 12:58] Dan9boi commented on #59
Does anyone have an opinion about this?

[2016-11-14 13:05] hesselberg commented on #59
Hmm, we already talked about splitting each component in its own repo -- wouldn't this then be obsolete? I'm guessing we should keep the `base`, `mixins` and `settings` folders?

[2016-11-18 09:49] hesselberg commented on #85
If noon else has any input, I'll close the issue

[2016-11-18 09:49] #85 closed

[2016-11-18 09:51] hesselberg commented on #41
Where did we end up regarding this? Perhaps it should be a topic for the next frontend meeting? @Dan9boi

[2016-11-18 09:53] hesselberg commented on #58
Regarding IE11, it really doesn't matter as the default should just be whatever is the desktop size, and, IE11 can only run on desktop.

We're testing srcsets out right now on KILROY -- it's working well so far, but haven't gotten the customer input yet.

[2016-11-18 09:57] hesselberg commented on #64
Lets push forward on this

[2016-11-18 09:58] hesselberg commented on #86
Can we dig out why we addede SASS support? I know it wasn't a part of the original scope, but it was added later on.

[2016-11-18 20:23] Dan9boi commented on #86
I guess it was for a project that should use Foundation, and I wanted us to be able to continue using Bootstrap with version 4 where they switched to SASS instead of LESS...

Seems like we are not going to need it for either of those frameworks anyway...

[2016-11-18 20:43] Dan9boi commented on #58
I think we can just start using it today, if we combine it with this polyfill.io _polyfill as a service_ https://polyfill.io/v2/docs/

@hesselberg can you bring some insights from the KILROY project? How are you getting the different image sizes, from the CMS? Are you using imageprocessor or something else? What about art direction in the sizes?

[2016-11-18 20:44] Dan9boi commented on #41
Yes that sounds like a good idea @hesselberg

[2016-11-18 22:24] Dan9boi commented on #84
I just updated our own dependencies, can you try to see if this gives any different result? @soreng

[2016-11-23 10:24] #64 closed

[2016-11-23 10:53] Dan9boi commented on #59
But as we do it now, we ship with the less "framework" but this is also made for cusomization. This makes it difficult to update the build tool without "updating" the customized framework aswell... That's why i think it would make sense to seperate the js/less from the build tool itself.

Then we would have the ability to update the build tool without touching the framework/source files of the pro

[2016-11-23 10:54] Dan9boi commented on #58
@shp-novicell will test this out on her next project.

[2016-11-23 11:52] Dan9boi commented on #64
This i now merged and we have now skipped bower.

[2016-11-27 18:28] Dan9boi commented on #86
cloed due to Remove gulp-sass #87

[2016-11-27 18:28] #86 closed

[2016-11-29 20:07] Dan9boi commented on #12
ping @hesselberg can you make time for this issue, before due date?

[2016-11-29 20:16] Dan9boi commented on #84
@soreng can you look at this before the end of the milestone?

[2016-11-29 20:46] soreng commented on #84
Hi, Yes I will have a look at it within the next week or so :-)

[2016-11-30 09:13] hesselberg commented on #12
Yes :) I'll make time for it next week

[2016-12-04 12:06] hesselberg opened #91 "50% of the source code for the grid isn't used?"
While creating a grid based off on the grid in novicell-frontend, I found out that about 50% of the source code isn't even used.

Perhaps we should look into cleaning it, while we're also looking at using the flexbox grid in #40 ?

[2016-12-13 13:20] Dan9boi commented on #12
@hesselberg ...

[2016-12-13 13:21] Dan9boi commented on #84
@soreng  ...?

[2016-12-13 13:22] hesselberg commented on #12
:/

[2016-12-14 10:45] Dan9boi commented on #12
We've decided that cssnano covers what gulp-clean-css does, so, we'll not look further into it.

[2016-12-14 10:45] #12 closed

[2016-12-14 10:57] Dan9boi commented on #91
Lars will copy his findings before january.

[2016-12-16 19:20] Dan9boi commented on #82
fixed here: https://github.com/Novicell/novicell-frontend/commit/36b97b9835471efe1c5e8d15cdcc9e3960c2f960

[2016-12-16 19:20] #82 closed

[2016-12-16 20:40] Dan9boi opened #94 "Flexbox doesn't work on iOS"
When using flexbox in the stylesheet, it is not getting the correct prefixing. This should be handled by "autoprefix" but it's not...

[2016-12-16 20:50] #94 closed

[2017-01-15 20:30] Dan9boi opened #98 "Add FTP deploy task"
For use for HTML task.
We can use the node module `gulp-ftp`
https://www.npmjs.com/package/gulp-ftp

[2017-01-16 06:39] emilras commented on #98
Fascinating that ftp is still used nowadays. Just to satisfy my curiosity, what are the scenarios this is need in?

Ftp is not really secure, is it possible to use sftp?

[2017-01-19 07:30] Dan9boi commented on #98
@emilras it's only for deploying prototypes for the beneath website.

[2017-01-19 09:42] emilras commented on #98
@Dan9boi Ok, makes sense. Ftp without the s activates the paranoid centers in my brain :)

[2017-01-27 17:41] Dan9boi opened #99 "Get icons to size like text"
See this article for inspiration on how to default icons like the contextual fonts:
https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4#.a4v2kwhrn

[2017-01-30 13:05] Dan9boi opened #101 "Remove inline fill and stroke"
When exporting SVG's from Sketch, we get a lot of bloat including inline *fill* and *stroke* attributes on the elements. This prevents us from overriding through CSS.

We need to get GULP to remove the inline elements per bundle, so that you can have a bundle of eg. flags that always should keep their *fill* and *stroke*.

**Maybe this gulp plugin can help:**
https://www.npmjs.com/package/remove-s

[2017-02-07 10:40] Dan9boi commented on #91
This will be obsolete as of making the new flexbox grid in isuue #40

[2017-02-07 10:40] #91 closed

[2017-02-07 10:42] Dan9boi commented on #84
I will take this issue, and update all our own dependencies @soreng

[2017-02-07 10:53] Dan9boi opened #102 "Remove lazyload function calls"
Remove it in the `master.js`-file.

[2017-02-07 10:56] Dan9boi opened #103 "Remove typescript"
Remove typescript task from the project, as we haven't yet used it, and are probably never going to.
@Novicell/team-contributers @marklonquist

[2017-02-07 11:12] Dan9boi opened #104 "Cleanup themes task"
Remove the task it self, and make the styles task seperate each file in the bundle. Get the name of the minified file from the original file, like the themes task does, right now.

[2017-02-07 11:23] Dan9boi opened #105 "Cleanup input / forms styling"
This needs a good cleanup, including variables, variable names and so on.

Remember to make great **documentation, and examples** (in the examples folder).

[2017-02-07 11:27] Dan9boi commented on #105
Make the markup and styling based on beneath best practices.

[2017-02-07 11:28] Dan9boi opened #106 "Cleanup buttons styling"

[2017-02-07 11:32] Dan9boi opened #107 "Make examples great again"
Make the examples work, when just copying the files from the examples folder into the root folder.

[2017-02-10 11:47] #103 closed

[2017-02-10 13:15] Dan9boi commented on #106
fixed in #110

[2017-02-10 13:15] #106 closed

[2017-02-10 13:16] Dan9boi commented on #102
fixed in #108

[2017-02-10 13:16] #102 closed

[2017-02-10 14:46] #84 closed

[2017-02-24 11:22] SergiSMJ opened #111 "Change the way how variables are declared"
[code]

This is cool, and make sense to me, but after this, we declare the new var like this:

**example:**
[code]
I think is better, and make more sense to me declare the var like this:
[code]
The other way, for me, is a little bit *"antipattern"* and it does not make sense because this declaration is for avoiding "override" when you create a function in javascript, but this way to code must be u

[2017-03-03 20:03] Dan9boi opened #114 "Add Babel.js"
For using the awesome new features in ES2016!

[2017-03-07 14:04] #101 closed

[2017-03-08 07:46] Dan9boi opened #116 "Remove icons.json generation"
We have changed the way the icon picker works, so now we don't need the `icons.json` file. Can you please remove the javascript / dependencies for it?

[2017-03-08 07:46] #42 closed

[2017-03-08 07:48] Dan9boi commented on #98
@shp-novicell see if you can force/default to **S**FTP 🥇

[2017-03-08 08:03] Dan9boi opened #117 "Add jquery no-conflict on scripts"
For use of the Novicell-frontend package on Drupal projects, we need to wrap all js functions in no-conflict mode. See the attached files for examples:

[no-conflict.zip](https://github.com/Novicell/novicell-frontend/files/826984/no-conflict.zip)

[2017-03-08 08:05] Dan9boi commented on #117
@pvenovicell @mmanovicell

[2017-03-08 08:30] Dan9boi opened #119 "Refactor Novicell.overlay.js"
To not depend on jquery.

[2017-03-08 08:31] Dan9boi commented on #119
just make a PR

[2017-03-08 12:02] #117 closed

[2017-03-08 12:04] Dan9boi commented on #61
I don't think this would work as the example code in the link only handles the changed files. This will (if i get this right) that we are going to make a new bundle file, with only the files changed, and not all the files in the bundle :(

[2017-03-14 15:14] Dan9boi commented on #111
Hi @SergiSMJ
I've looked at you examples and tried your jsfiddle, and i get what you are saying. But if you try to extend the `novicell.package` then either the current syntaxt or your example is working (see this [fiddle](https://jsfiddle.net/2301s5j7/)).

So @marklonquist and i played around with it, for best practice and possibility for extending the objects, and we came up with this "new" synt

[2017-03-14 17:15] SergiSMJ commented on #111
Hi @Dan9boi cool!

I think this new syntax is better than the old and does not lead to confusion, is easy to made extensions and if are good is easy to implement in the package too :)

[2017-03-15 10:28] hakudoshi23 commented on #111
Hi @Dan9boi ,

I'm a colleague of @SergiSMJ. I also like this syntax better, but I have a few comments:

var novicell = novicell || {};
novicell.overlay.extensions = new function() {

At the beginning of the extending file we lazy init the "novicell" variable (all fine), but then we use "novicell.overlay". In the case this file get loaded first it will crash, since the "novicell" is just initializ

[2017-03-15 16:24] SergiSMJ commented on #111
@hakudoshi23 @Dan9boi

For me is more simple, this syntax rocks but I think we don't need to use the "lazy init"
[code]
because in the package we compile with gulp the extensions in order:

[code]
Use lazy init with this configuration I think is worthless, if we use "Lazy init" maybe we can change the way to compile the javascript extensions in gulp on the config.js to this way:

[code]

Because t

[2017-03-17 09:47] Dan9boi commented on #111
@hakudoshi23 you are totally right. We should do the lazy init of the `novicell.overlay` in the extention file as well.
@SergiSMJ yeah, you could do that and don't think about the order of the scripts. But due to https://github.com/Novicell/novicell-frontend/issues/41 we are going to load all the novicell scripts through npm instead, and the you are going to do it like that anyways:

[code]

I'm g

[2017-03-17 09:50] #111 closed

[2017-03-17 09:57] Dan9boi commented on #58
I'm closing this issue as we have tested srcset on multiple projects counting Kilroy, COOP and DEIF. All of these have been great experiences. Go to @shp-novicell @emilankersen or me, to get more information.

[2017-03-17 09:57] #58 closed

[2017-03-17 10:02] Dan9boi opened #120 "Ditch GULP and go NPM scripts only"
Any comments on this @Novicell/team-contributers ?
https://css-tricks.com/why-npm-scripts/

[2017-03-17 13:13] SergiSMJ commented on #111
Cool @Dan9boi

I didn't see the #41 issue, load the components through NPM will be really cool :)

Great job! 💯

[2017-03-17 16:14] Dan9boi commented on #111
@sergismj that's why we need the extention to Work 😎

[2017-03-31 07:19] Dan9boi commented on #116
removed here: https://github.com/Novicell/novicell-frontend/commit/680fb203f35ee528fbc787fc829be1995a8d9f9b

[2017-03-31 07:19] #116 closed

[2017-03-31 08:59] #98 closed

[2017-03-31 09:00] Dan9boi commented on #104
Closed due to #123

[2017-03-31 09:00] #104 closed

[2017-03-31 10:23] Dan9boi commented on #120
@shp-novicell & @matq007 you can start working on this, in a new branch.

[2017-04-10 12:22] Dan9boi opened #126 "PostCss + CSS Next"
Use PostCss + CSS Next instead of LESSCSS (or SASS) for using all the new cool features of CSS4 spec and learning real CSS instead of an arbitrary css variant like SASS.
What is your opponion? @Novicell/team-contributers

[2017-04-10 12:23] Dan9boi opened #127 "Automatic styleguide"
Make a styleguide task for building styleguides the smart way with the build system.
For instance: https://www.npmjs.com/package/patternlab-node

[2017-04-10 12:27] shp-novicell commented on #126
Check it out:
http://postcss.org/
http://cssnext.io/

[2017-04-12 07:57] Dan9boi commented on #61
As we are working on a new build system without gulp, i will consider this, when we build our new build tool, and close this issue.

[2017-04-12 07:57] #61 closed

[2017-04-12 08:08] Dan9boi opened #128 "Revisit breakpoints"
Due to this blogpost, maybe we should revisit our breakpoints:
https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862

We could also look at [how bootstrap 4 is doing their breakpoints](https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss):
[code]
**And also add an `XL`-breakpoint.**

[2017-04-12 09:49] Dan9boi commented on #111
the final syntax is going to be like this: https://jsfiddle.net/6r5d1z2g/4/
It requires the core library to be loaded first, but that is just how it is. If you try to extend fx. jquery you can't do it before loading jquery, either... 💯

[2017-04-12 11:04] Dan9boi commented on #41
**Cookie info:** https://github.com/Novicell/novicell-cookie-info
Codereview: @Havmoeller @jhavmoeller please 🙏

[2017-04-25 11:38] misterwinther opened #129 "Live reload from folder outside [projectPath] (WordPress)"
Can we fix issue with not liverealoading outside project path ?

[2017-05-01 08:17] #128 closed

[2017-05-01 08:18] shp-novicell commented on #128
Duplicate: https://github.com/Novicell/novicell-frontend/issues/40

[2017-05-01 08:19] shp-novicell commented on #40
Also revisit breakpoints (#128)

[2017-05-01 08:43] shp-novicell commented on #105
Todo:

- Validation
- Documentation for markup (autofill, autocorrect etc.)
- Testing

[2017-05-01 08:49] shp-novicell opened #130 "Default easing variables"
http://easings.net/

[2017-05-01 08:50] shp-novicell commented on #41
Closed due to new seperate issues.

[2017-05-01 08:50] #41 closed

[2017-05-01 08:52] shp-novicell opened #131 "Finish cookie info repo"

[2017-05-01 08:53] shp-novicell opened #132 "Remove opacity 0 on headlines"

[2017-05-01 08:55] shp-novicell opened #133 "Move novicell.map.js to it's own repo"
Use new syntax and make npm package

[2017-05-01 08:57] shp-novicell opened #134 "Refactor novicell.debounce.js"
Use new syntax: https://github.com/Novicell/novicell-frontend/issues/111

[2017-05-01 08:58] shp-novicell opened #135 "Refactor novicell.embed.js"
Use new syntax: https://github.com/Novicell/novicell-frontend/issues/111

[2017-05-01 09:00] shp-novicell opened #136 "Kill novicell.js and novicell.font.js"

[2017-05-01 09:01] shp-novicell opened #137 "Refactor novicell.visible.js"
Use new syntax: https://github.com/Novicell/novicell-frontend/issues/111

[2017-05-01 09:04] shp-novicell commented on #83
Closed due to #120

[2017-05-10 07:43] #133 closed

[2017-05-10 07:44] #131 closed

[2017-05-10 08:22] Dan9boi commented on #136
closing due to #141

[2017-05-10 08:22] #136 closed

[2017-05-10 12:58] Dan9boi commented on #132
Resolved in  #139

[2017-05-10 12:58] #132 closed

[2017-05-10 12:59] Dan9boi commented on #129
Will get resolved by #142

[2017-05-18 13:37] #129 closed

[2017-06-14 07:48] Dan9boi opened #143 "Task to make favicons"
Make it easier to make favicons the right way, and the right sizes.

Mayer use this node.js cli tool: http://realfavicongenerator.net/favicon/node_cli#.WUDp-IF5OEe

[2017-07-20 13:15] magnify commented on #137
Refactored the script here: https://github.com/magnify/ncstyleguide/blob/master/source/js/novicell.visible.js

Got an example/test page on the way.

This is a new script, so there is no target for at pull request. @Dan9boi should we create a new repo at https://github.com/Novicell and handle code review there?

[2017-07-20 17:30] magnify commented on #137
Example here: https://magnify.github.io/ncstyleguide/

[2017-07-21 06:28] Dan9boi commented on #137
Very cool, though i don't get the demo?
We use this script when lazyloading images, maybe a demo with that would make more sense?

I'm not sure if we need the left/right check, but what if we did a second parameter - `threshold` for checking if element is within fx. 500px from the top/bottom of the screen?

I've got a hold of the script @marklonquist did and it is very similar to that:
[code]

I'l

[2017-07-21 06:35] Dan9boi commented on #135
And make new repo

[2017-07-21 06:59] soreng commented on #135
New repo is made, 1st commit comming later today

[2017-08-01 07:20] Dan9boi commented on #130
Done!

[2017-08-01 07:20] #130 closed

[2017-08-01 07:22] Dan9boi commented on #137
Closing this due to seperate repo.

[2017-08-01 07:22] #137 closed

[2017-08-01 07:23] Dan9boi commented on #40
1 year, happy birthday! 🎂

[2017-08-03 07:33] ramiejleh opened #144 "Remove special characters from compiled html using html task"
https://github.com/coderhaoxin/gulp-file-include/issues/128

[2017-08-03 07:56] #144 closed

[2017-10-01 21:57] KimDolleris commented on #143
Can we start with adding .ico to the copy task? :)

[2017-10-02 18:37] Dan9boi commented on #143
@KimDolleris what do you need that for?
According to this website, favicons should be placed in the root of the website: https://realfavicongenerator.net/faq#.WdKG42iCyUk

[2017-10-02 18:41] Dan9boi commented on #40
i've added this as a dependency

[2017-10-02 18:41] #40 closed

[2017-10-02 20:17] Dan9boi commented on #120
closed due to #83

[2017-10-02 20:17] #120 closed

[2017-10-02 20:18] Dan9boi commented on #114
Consider adding Typescript instead of babel, as they can both transpile ES6+ -> ES5

[2017-10-02 20:20] Dan9boi commented on #126
done due to #146

[2017-10-02 20:20] #126 closed

[2017-10-02 20:27] Dan9boi opened #148 "Replace LESSHint with StyleLint"
Because we are now using post-CSS and less, and this can do both:
https://stylelint.io

[2017-11-06 12:24] Dan9boi commented on #143
https://github.com/Novicell/novicell-frontend/pull/150

[2017-11-06 12:33] Dan9boi commented on #105
@shp-novicell due to MIA, this issue is assigned to @heense....

[2017-11-20 21:14] Dan9boi commented on #127
Using fractal

[2017-12-01 13:07] magnify opened #152 "Property naming in Fractal context data"
To avoid issues with Handlebars.NET integration property naming should be in CamelCase and without dashes.

@K3llr do you have input and maybe an example?

[2017-12-01 13:13] magnify opened #153 "Spaces when including patterns"
To avoid issues with Handlebars.NET integration we should not use spaces when including patterns.

Do: {{> @MyPattern='--centered' }}
Don't do: {{> @MyPattern = '--centered' }}

Maybe we can do automate this somehow?

Ping @K3llr

[2017-12-12 08:03] #127 closed

[2017-12-12 08:04] Dan9boi commented on #148
done

[2017-12-12 08:04] #148 closed

[2017-12-12 08:04] Dan9boi commented on #143
done due to #150

[2017-12-12 08:04] #143 closed

[2017-12-12 08:04] Dan9boi commented on #114
done

[2017-12-12 08:05] Dan9boi commented on #105
@Havmoeller can you merge the forms input styling and check the validation script, in fractal?

[2017-12-12 08:33] Dan9boi commented on #114
@jhavmoeller can you please review this, and merge :)

[2017-12-12 08:35] Dan9boi commented on #152
Cool, i've notified everyone in the team.

[2017-12-12 08:38] Dan9boi commented on #153
Cool it's noted.

[2017-12-12 11:11] Dan9boi opened #158 "Match stylelint with frontend docs"
Make [settings for stylelint](https://stylelint.io/user-guide/rules/) match the [Novicell frontend docs](https://novicell.github.io/frontenddocs/) in the .stylelintrc file.

Also add the [postCss-reporter](https://github.com/postcss/postcss-reporter) to show the errors.

[2017-12-12 11:13] Dan9boi opened #159 "Make settings for jshint"
Setup some settings for [jshint](http://jshint.com/docs/)
Make documentation for our choices, in the [frontenddocs](https://novicell.github.io/frontenddocs/)

Look at removing js codestyle...

[2017-12-18 13:17] emilankersen opened #162 "Add fonts css file"
Add a font file in the `pattern/base` -folder

ex.
[code]

[2017-12-19 18:27] Dan9boi commented on #114
closing due to https://github.com/Novicell/novicell-frontend/commit/3d138afc64ae939e7d1c4a235e08f9d20a010a72

[2017-12-19 18:27] #114 closed

[2018-01-11 07:03] tbb2 opened #163 "Fractal guidelines"
1. Der mangler beskrivelse af helpers-mappen, hvor grid'et fx ligger.

1. Under Patterns structure i forklaringen af json-filen - er dette ikke en bedre forklaring af hvordan vi vil have modifiers?:
We don't use the config for creating modifiers. If a modifier is needed a new variant handlebars file should always be created. This way we can keep track of modifiers both by looking in fractal but al

[2018-01-11 07:05] tbb2 opened #164 "PostCSS guidelines"
I PostCSS guidelines under Media queries, forslag til ændring af 1. sætning i forklaringen til denne:
It is not possible to use a CSS custom property (variable) in the declaration of the media queries.

[2018-01-11 13:32] tbb2 opened #165 "PostCSS guidelines variabler"
Vi burde lave eksemplet om så det var en farve i stedet for font-weight, folk kan misforstå og tro det er standard at lave variabler til font-weight. Måske burde der også stå noget om fall-back værdier, det bør man altid lave, hvis man refererer til en variabel fra en anden fil?

Ny tekst og eksempel:

Variables are native CSS custom properties. All variable names should be in spinal-case, just li

[2018-01-15 12:10] jhavmoeller opened #167 "Fix grammatical errors in Fractal documentation"
There are some grammatical errors in the documentation.

[2018-01-15 13:57] Dan9boi commented on #134
Now it's on NPM: https://www.npmjs.com/package/novicell-debounce
And Github: https://github.com/Novicell/novicell-debounce

[2018-01-15 13:57] #134 closed

[2018-01-18 13:02] Dan9boi commented on #119
https://github.com/Novicell/novicell-overlay
it's also on NPM

[2018-01-18 13:02] #119 closed

[2018-01-18 13:05] Dan9boi commented on #163
Yes that's great spotted. Can you make the changes, then I would love to review @tbb2  :)

[2018-01-18 13:08] Dan9boi commented on #164
done: https://github.com/Novicell/novicell-frontend/wiki/PostCSS-guidelines

[2018-01-18 13:08] #164 closed

[2018-01-18 13:08] Dan9boi commented on #167
Please fix @ramiejleh 💯

[2018-01-18 13:19] Dan9boi commented on #165
done, i've also added an extra example for telling that a variable can be anything:
https://github.com/Novicell/novicell-frontend/wiki/PostCSS-guidelines#variables

[2018-01-18 13:19] #165 closed

[2018-01-23 07:18] #162 closed

[2018-01-23 07:19] heense opened #171 "Add cookie"
Add cookie info

[2018-01-23 07:38] tbb2 opened #172 "Add block related scripts in the block's directory"
so we have a structure like this on each block (example using breadcrumb block):

breadcrumb
- breadcrumb.config.json
- breadcrumb.css
- breadcrumb.hbs
- breadcrumb.js

it will be nice if the js could be automatically added to the master bundle or are there any pitfalls to this?

[2018-02-01 07:10] heense opened #178 "Remove legacy postcss folder"
Legacy folder confuse people. Remove it

[2018-02-01 07:14] heense opened #179 "Add a new build folder"
Add a build folder, when gulp build is called.

[2018-02-12 09:19] Bjornnyborg opened #184 "Do we need a datepicker?"
Skal vi måske have en datepicker i vores frontend pakke?

[2018-02-14 07:37] #158 closed

[2018-02-20 08:40] shp-novicell commented on #171
Fixed

[2018-02-20 08:40] #171 closed

[2018-02-20 08:52] shp-novicell commented on #178
Done!

[2018-02-20 08:52] #178 closed

[2018-02-20 08:56] shp-novicell commented on #153
Done

[2018-02-20 08:56] #153 closed

[2018-02-20 12:21] heense opened #188 "Remove old grid"

[2018-02-21 06:46] heense commented on #105
Fixed

[2018-02-21 06:46] #105 closed

[2018-02-21 15:11] Dan9boi commented on #163
@heense did you merge these changes to the wiki, and removed it from fractal docs (repo)?

[2018-02-21 15:12] Dan9boi commented on #167
@ramiejleh note that this milestone ends at 28th of feb. :)
Please fix!

[2018-02-22 09:23] Dan9boi commented on #179
What is supposed to be changed here?
Change the path, or create the folder?? @heense

[2018-02-22 09:25] Dan9boi commented on #172
did you have a fix for this @shp-novicell ?

[2018-02-22 09:26] Dan9boi commented on #152
did you fix this in the current codebase @heense ?

[2018-02-22 09:31] Dan9boi commented on #152
or did you @jhavmoeller ?

[2018-02-22 09:42] heense commented on #179
We did this one together Danni. It changes the build folder name.

[2018-02-22 10:26] Dan9boi commented on #179
hah, i don't remember, but cool. This is fixed due to #181

[2018-02-22 10:26] #179 closed

[2018-02-22 10:28] #188 closed

[2018-02-22 12:09] Dan9boi commented on #163
FYI: helpers folder is gone by now :)

[2018-02-22 12:10] Dan9boi commented on #163
@tbb2 notice the milestone ends on tuesday :)

[2018-02-23 09:48] heense opened #191 "Stylelint checks node_modules"

[2018-02-23 12:35] tbb2 commented on #163
@Dan9boi changed the wiki according to 2) - what should I do with this issue then, do you close it after reviewing?

[2018-02-26 07:53] Dan9boi opened #192 "Remove iOS styling"
Remove box-shadows and border radius from forms.

[2018-02-26 12:23] ramiejleh commented on #167
Grammar and spelling errors should be fixed now

[2018-02-26 12:23] #167 closed

[2018-02-26 21:16] Dan9boi commented on #192
![forms](https://user-images.githubusercontent.com/1523780/36695813-a5953b1a-1b42-11e8-8449-f0933db2a18b.png)

[2018-02-26 21:18] Dan9boi commented on #163
great job :)

[2018-02-26 21:18] #163 closed

[2018-02-26 21:24] Dan9boi commented on #59
doesn't seem like a good idea...

[2018-02-26 21:24] #59 closed

[2018-03-14 08:05] Dan9boi opened #195 "Clean up components"
We need to clean up components.
Some needs to be moved from molecules to organisms, other just need to be deleted.

[2018-03-19 11:45] Dan9boi opened #198 "Slider component"
Make a slider component with flickity.
Make 3 variants for example:
- hero slider (full width / container width)
- card slider with 4 cards on desktop, looking like products or something. Use the existing list-page-item molecule.
- brand slider with 4 logos on desktop

Remember to make it smart by using the new `times` function by @Bjornnyborg

[2018-04-06 10:24] #198 closed

[2018-05-01 12:35] Dan9boi opened #203 "Schema on breadcrumb"
Using schema.org JSON syntax.
Make an example in the breadcrumb.hbs file: http://schema.org/BreadcrumbList
Test it here: https://search.google.com/structured-data/testing-tool?hl=da

Example:
[code]

[2018-05-03 07:19] vJules opened #205 "Re-work desktop and mobile navigation"
Make the navigation a single component in the markup, instead of having separate navigation for mobile and desktop.

- Should contain main navigation, search and utility-area.
- Priority navigation (when the width is too small, group the navigation items in the excess area as a single dropdown item)
- Mobile navigation offcanvas sliding in.

[2018-05-22 05:52] heense commented on #192
This is done

[2018-05-22 05:52] #192 closed

[2018-05-22 05:52] #99 closed

[2018-05-22 05:55] #203 closed

[2018-05-30 11:15] Dan9boi opened #206 "Product image zoom"
It would be great to have an product image zoom effect, ready for implementation.
This could be just a class and some dependencies to add.

Look at this page for an example of a great implementation:
[etq-amsterdam](https://www.etq-amsterdam.com/store/product/men/sonic-white/)
Look out for too many dependencies, and their payloads.

[2018-05-30 11:18] Dan9boi opened #207 "Product page"
I would be cool to have a product page, which we can reuse.
Here's a great example: [Philipson-Club](https://beneath.invisionapp.com/share/P6G31O0TNRU#/283779270_philipson-Club-Smagekasse-Produkt)

Start by analysing the layout, dividing it into atoms/molecules/organisms, and then make one component at a time.

[2018-06-08 11:15] jhavmoeller commented on #159
We should also get this up at running with the onSave event
https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

**eslint.autoFixOnSave**

[2018-06-21 20:09] Dan9boi opened #210 "Add loader patterns"
Add a loader pattern to the Fractal design system.

[2018-06-28 08:45] emilankersen opened #212 "Make related topbar"
Make related/sticky topbar for related content for a specific page

[2018-06-28 10:24] emilankersen opened #214 "Add watch task to scripts in the block's directory"

[2018-07-03 12:11] Dan9boi commented on #214
closing due to #215

[2018-07-03 12:11] #214 closed

[2018-07-03 12:11] Dan9boi commented on #210
closing due to #211

[2018-07-03 12:11] #210 closed

[2018-07-03 12:13] Dan9boi commented on #135
@soreng when do we see some code?

[2018-07-03 12:18] Dan9boi opened #217 "Duotone images"
Make a pattern, which can make a duotone image, with some of the variants from [this codepen](https://codepen.io/lentilz/pen/mPOKdG)
Instead of using nth-child, use modifiers.

[2018-07-03 12:23] Dan9boi opened #218 "Background video pattern"
Make a new pattern for inserting background video.
* Make the default pattern as Novicell.dk.
* Make another variant, using vimeo and autoplay
* Make yet another variant using youtube, [preferably without youtube branding](https://codepen.io/lentilz/pen/mPOKdG)
* Make sure to test it on mobile!

[2018-07-03 13:25] Dan9boi opened #219 "Search autocomplete"
Make an autocomplete that uses mock data for the results.
Get everything/inspiration from [Deif](https://www.deif.dk/).

[2018-07-03 14:02] Dan9boi opened #220 "Mini menu (breadcrumb)"
Make a pattern for a mini menu (advanced breadcrumb)

[2018-07-03 14:17] greenkeeper[bot] opened #221 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-07-04 05:50] #221 closed

[2018-07-09 09:23] emilankersen opened #223 "Styling and animation of mobile menu"

[2018-07-12 09:02] Dan9boi opened #224 "Button with pseudo elements"
Edit the buttons to have pseudo elements as the background.
In this way we can make more fun animations / variants of buttons, with the "background" (the pseudo element) scale/rotate/fade/translate i any direction.

Make at least 3 different variants.

[2018-07-17 13:12] ottzen commented on #224
Closing #226

[2018-07-17 13:12] #224 closed

[2018-07-17 14:04] #223 closed

[2018-07-31 12:43] ottzen opened #227 "Gradient buttons"
Make buttons styles as shown in:
https://cssgradient.io/gradient-backgrounds/ -> GradientButtons

[2018-08-01 11:12] MKAndersen opened #228 "Group pagesheaders"
Make a Pageheader collection to gather Pageheader-image, Pageheader-slider and Pageheader-video

- Move Hero component to Pageheader collection, rename to Pageheader-image and clean up references
- Move Slider component to Pageheader collection, rename to Pageheader-slider and clean up references
- Make pageheader content molecule, and use this on all pageheaders
- Make sure nothing breaks

[2018-08-02 12:10] #227 closed

[2018-08-02 12:34] tbb2 opened #231 "Add versioning in package.json for validate script"

[2018-08-03 10:33] #228 closed

[2018-08-03 10:42] MKAndersen opened #233 "Gulp dosn't work with fonts"
The gulp setup done't compile fronts from assets to dist. Causing probelms since it can't find the fonts

[2018-08-03 10:46] MKAndersen opened #234 "Restructure headings"
Restructure headings so they works as TBB made on Plus.
To get a more reusable way to use headings

[2018-09-03 07:48] Dan9boi opened #236 "Pageheader slider missing stuff?"
From ½ year ago the `novicell.slider.js`-fil looked like this.
Maybe we still need the custom arrow?

[code]

[2018-09-10 06:48] Dan9boi opened #237 "Animate on scroll"
Make a component feature that can animate stuff into the viewport.
Look at scrollMonitor and /or AOS.js

[2018-09-10 06:51] Dan9boi opened #238 "Multi level navigation"
Mobile multi level navigation:  <insert link>
Desktop multi level navigation: <insert link>

@KimDolleris

[2018-09-10 06:54] Dan9boi commented on #212
please fix errors @emilankersen

[2018-09-10 07:04] Dan9boi commented on #184
Yup

https://beneath.invisionapp.com/d/main/#/console/10395794/272964021/preview

[2018-09-19 16:28] macimuz commented on #238
How to solve some of the classic issues e.g. flickering:
https://baymard.com/blog/dropdown-menu-flickering-issue

[2018-09-19 16:44] macimuz opened #240 "Make our design system into a product"
https://frontend.novicell.cloud/

We need to make this much better e.g: http://www.carbondesignsystem.com/

Its much more presentable, has loads of examples, best practices and even sketch files for download.

Our design system could (should) be made into a product that our customers wish to buy.

Also look at Googles Material Design system. It also is great at explaining the usage and showing bes

[2018-10-03 09:12] ottzen opened #241 "Place favicons in folder"
favicons should be placed in its own seperate folder instead of root

[2018-10-04 16:44] macimuz opened #243 "Responsive filters"
In my opinion we really need a large and refined set of filters (ecommerce and much more) that work regardless of screen size and of course sorting.

I've designed a  good solution several times, but they also need to be a part of our design system.

You'll find some live examples (build by nvcl) on these sites, but they need refinement ;)

https://www.finansudd.dk/katalog/
https://www.dyrenesbesk

[2018-11-05 09:02] Bjornnyborg commented on #241
I've merged the branch from this request now. 👍

[2018-11-05 09:02] #241 closed

[2018-11-05 09:09] Bjornnyborg commented on #233
I've just tested this, i placed some fonts in "assets/fonts" and then ran "gulp", and it copied the fonts successfully into the "dist/fonts" folder.

Is this still an issue?

[2018-11-06 13:26] Bjornnyborg opened #245 "Update dependencies and fix vulnerabilities"

[2018-11-07 08:10] Bjornnyborg commented on #240
@macimuz Ive updated the frontpage a bit, and set the project up, so that we can make a custom frontpage on https://frontend.novicell.cloud/, could you do a design for the page? Then i will code it.

[2018-11-09 16:46] Dan9boi opened #246 "Make cool error pages"
Make standard 404 and 500 error pages.
https://www.smashingmagazine.com/2018/11/the-101-course-on-crafting-404-pages/

[2018-11-12 12:29] Dan9boi commented on #233
@MKAndersen can you describe how to reproduce?

[2018-11-12 13:00] Dan9boi commented on #246
- [ ] Make a new page, in the pages section (404.hbs)
- [ ] Make a new page, in the pages section (500.hbs)
- [ ] Research cool error pages, and make some generic SFW effect, of some kind:
https://codepen.io/search/pens?q=404&page=1&order=popularity&depth=everything&show_forks=false

[2018-11-13 09:13] Dan9boi commented on #245
Maybe use https://www.npmjs.com/package/npm-check-updates

[2018-11-14 07:50] Dan9boi opened #249 "Update Gulp to v4"
What does it take to update gulp to version 4?
Can we make it happen, without breaking everything?

[2018-11-14 07:53] Dan9boi opened #250 "Update autoprefixer to support css grid"
Update autoprefixer to support CSS Grid, as of this article:
https://css-tricks.com/css-grid-in-ie-css-grid-and-the-new-autoprefixer/

And setup settings so that it's ready to use CSS Grid.
We should also make an example of using it, in the [wiki.](https://github.com/Novicell/novicell-frontend/wiki)

[2018-11-14 08:05] ankeris commented on #249
Unfortunately it breaks with the old syntax
`
assert.js:350
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (C:\Visual Studio Projects\novicell-frontend\node_modules\undertaker\lib\set-task.js:10:3)
. . .
`
However, it fixes some of the vulnerabilities from the older version

[2018-11-14 09:47] Dan9boi opened #252 "Design system pageheader"
Make a new page header for presenting the design system (as a product #240 )

![image](https://user-images.githubusercontent.com/1523780/48474139-36153580-e7fa-11e8-9b8e-271ed258a595.png)

For that you need to:

1. Make a new page header component
2. Import the Averta font in woff & woff2

Start with copying what makes sense from the NVCL project.
Need help? Ask @ramiejleh, @shp-novicell or @Bjorn

[2018-11-20 09:36] daniel-doktor commented on #217
Remember to make fallback – grayscale filter and gradient overlay

[2018-11-21 07:17] daniel-doktor opened #258 "Sections of overlapping elements"
When I design elements that overlaps I always get the question: In what way did you think this could be made.

This is primarily a backend thing but it would be nice with some frontend examples where the backend has been in mind also. So we have this type of logic in our system.

With overlapping elements it could be 2 section overlapping – it could be a section that has a background but where the

[2018-11-21 07:27] daniel-doktor opened #259 "Different header styles"
Can we have som more header examples?
Left, right – navigation link, no navigation links – some without background, but where the colours in fx. logo and burger inverts (if on light background it changes to dark and vice verse).
Sticky but not horisontal, but vertical links

http://clorova.com/works/the-acala
https://mathieulevesque.com/en
https://www.ouiwill.com/#/
https://henninglarsen.com/en

A

[2018-11-21 07:44] daniel-doktor opened #260 "Different CTA or Link styles"
Instead of just the bounding box can we try and make some different cta and link styles with some different transistions.

It could be making an overview page like this: https://tympanus.net/Development/ButtonStylesInspiration/

Here we will include the different cta and link styles.
Could be something like this:
https://codepen.io/melnik909/pen/KGxdjY
https://codepen.io/andreasstorm/pen/oqKbLq
ht

[2018-11-21 09:01] heense opened #261 "Use Prettier & Beautify"
Can we include Prettier and Beautify to lint our html, css and js?

https://css-tricks.com/prettier-beautify/

https://css-tricks.com/prettier-stylelint-writing-clean-css-keeping-clean-code-two-tool-game/

[2018-11-21 13:31] ankeris opened #262 "Stylelint is not working in gulp task"
Stylelint is declared in gulp "styles" task but it does not work. Perhaps it should be implemented differently

[2018-11-21 13:41] ankeris commented on #261
I have added .prettierrc file where we could add more options for code formatting on file save. However, people will have to download Prettier extension to IDE and I will write a Wiki page on how to quickly do that.

[2018-11-21 13:43] ankeris commented on #261
There are not many options to be added now because Prettier linting is very similar to Novicell's guidelines.

[2018-11-21 14:21] ankeris commented on #261
I have written [short tutorial on Wiki](https://github.com/Novicell/novicell-frontend/wiki/Prettier-extension-on-VSCode) on how to quickly add the extension.

[2018-11-22 09:39] Dan9boi opened #264 "Migrate frontend guidelines to WIKI"
Go to the frontenddocs page, and migrate it to a wiki page.
The page should be using Markdown for the code examples, and should be updated from LESS to PostCSS in the docs.

https://novicell.github.io/frontenddocs/

[2018-11-22 09:45] Dan9boi commented on #258
So the task here is to make a "default" way of doing these overlapping sections, and do a "standard" component, that show how to do it?

[2018-11-22 09:47] daniel-doktor commented on #258
Correctomundo!

That is my thought yes.

[2018-11-22 13:47] Dan9boi opened #265 "Switch Gulp with Webpack"
Do a new branch with all the new files and settings.

### Generally
- [x] Delete gulp
- [x] Should include files automatically (js/css)
- [x] Should be able to make multiple bundles, and name the bundles (Code splitting)
- [x] Cache vendor scripts ([webpack feature](https://webpack.js.org/plugins/split-chunks-plugin/))
- [x] Should include Fractal as well - through npm scripts
- [x] Should use the

[2018-11-22 19:46] magnify opened #266 "Brand colors"
Add color presentation to the styleguide, e.g. https://www.lightningdesignsystem.com/guidelines/color or https://rizzo.lonelyplanet.com/styleguide/design-elements/colours.

**Branch:** https://issues-brand-colors-266--novicell-frontend.netlify.com/components/detail/colors.html

**To-do:**
- [x] Remove --color-blackberry
https://github.com/Novicell/novicell-frontend/blob/issues/brand-colors-%23266/

[2018-11-22 19:46] magnify opened #267 "Brand typography"
Add presentation (and basic usage) of typography, e.g. https://rizzo.lonelyplanet.com/styleguide/design-elements/typography ~or https://www.lightningdesignsystem.com/guidelines/typography/~ (guidelines are being updated).

[2018-11-22 19:58] magnify opened #268 "Best practice code examples"
For contributors or users of the system, it would probably be nice with a couple of examples of how to structure your code. It could also make a sane default for making code reviews and keeping the code consistent.

**On the top of my head:**
- handlebars example - should you reuse an existing pattern or create a new?
- css example - use variables, BEM and namespace to keep it solid
- js example -

[2018-11-22 20:06] magnify opened #269 "Refactor existing patterns"
Some patterns needs refactoring and probably some simplifying for easier usage. E.g. https://github.com/Novicell/novicell-frontend/blob/master/patterns/01-atoms/buttons/button/button.hbs is pretty difficult to figure out at a quick glance.

**First tasks:**
- Make a plan for refactoring existing patterns
- Find out how a new patterns is added for maintaining a healthy system

[2018-11-23 12:42] magnify opened #270 "Don't render cookie info in _preview.hbs"
@cookie-info is rendered in _preview.hbs and loaded on all patterns. This is pretty annoying, so could we add a guide and test of the molecule instead? :)

[2018-11-29 13:09] Dan9boi commented on #270
maybe add it to a page instead? @magnify

[2018-11-29 13:13] #262 closed

[2018-11-29 13:20] Dan9boi commented on #249
closing due to #265

[2018-11-29 13:20] #249 closed

[2018-11-29 13:33] #261 closed

[2018-11-29 13:33] heense commented on #261
This is done

[2018-11-29 13:38] magnify commented on #270
That would work too, I think the primary task at hand is to remove it from _preview.hbs. Will you assign the issue?

[2018-11-29 13:47] magnify commented on #266
[novicell-rebrand-colors-v2.0.pdf](https://github.com/Novicell/novicell-frontend/files/2629337/novicell-rebrand-colors-v2.0.pdf)

[2018-11-29 13:47] magnify commented on #266
@Dan9boi reference for colors attached. FYI @KimDolleris.

[2018-11-29 15:03] Henrikschytze commented on #264
Link for CSS guidelines wiki: https://github.com/Novicell/novicell-frontend/wiki/Frontend-guidelines-for-CSS

Link for HTML guidelines wiki: https://github.com/Novicell/novicell-frontend/wiki/Frontend-guidelines-for-HTML

[2018-12-04 17:46] #270 closed

[2018-12-06 11:11] tbb2 commented on #266
- Det  ville være smart, hvis man kunne lave et javascript, der kørte alle farvevariablerne igennem og genererede markuppen til at vise dem, så man ikke selv skulle tænke på det.

- Det ville være smart, hvis man kunne udregne rgb- og cmyk-farverne ud fra HEX-farven (med en fractal-js-function eller lignende) i stedet for at man selv skal skrive dem (i json-filen)

[2018-12-06 12:51] KimDolleris commented on #266
Det kan man ikke helt bare sådan lige. For cmyk og rgb er 2 forskellige farverum. Det som en konvertering vil foreslå giver ikke nødvendigvis mening in real life - hvor cmyk jo hører hjemme. Så konverteringen vil sjældent være korrekt. På samme måde har pantone andre muligheder da det er forblandede farver som ikke, i trykprocessen, bliver blandet med andre farver for at give et resultat.

Det kan

[2018-12-06 13:30] magnify commented on #266
@tbb2 maybe we can auto generate parts of it (hex and naming) and add the rest manually (if needed). That way we avoid some duplication/replacing in css and data.

[2018-12-06 13:54] tbb2 commented on #266
@magnify I don't like the idea that we have to edit both css and data to make a color - it will fail because of both sloppyness and alzheimers

[2018-12-06 14:19] magnify commented on #266
Ok, can we pick one place to store it: data or css? :)

What about just using css + "hardcoded" html? Is it data we want to use elsewhere?

[2018-12-06 14:37] Dan9boi commented on #266
https://5c093227e470857ab733bf85--novicell-frontend.netlify.com/components/detail/colors.html

[2018-12-06 15:06] magnify commented on #266
@daniel-doktor --color-blackberry should be removed?

https://github.com/Novicell/novicell-frontend/blob/issues/brand-colors-%23266/patterns/design-guidelines/colors/colors.css#L16

[2018-12-06 15:11] daniel-doktor commented on #266
@magnify Yes sir!

[2018-12-06 15:15] magnify commented on #266
**To-do:**
- [ ] Remove --color-blackberry
https://github.com/Novicell/novicell-frontend/blob/issues/brand-colors-%23266/patterns/design-guidelines/colors/colors.css#L16

[2018-12-06 19:43] tbb2 commented on #266
@magnify I don't think we can pick one then - the colors have to be in the css obviously, but the cmyk and pantone have to be in data
I prefer updating data to updating hardcoded HTML
I can't see that it's possible to store data in only one place... would've been really nice though

[2018-12-11 07:32] Dan9boi commented on #258
@Henrikschytze
- [ ] Make a component that can do the overlapping effect - https://ihatetomatoes.net/demos/simple-scrollmagic-tutorial/
- [ ] Make a component that can do parallax effect - http://matthew.wagerfield.com/parallax/
- [ ] Make a "Parallax page" to demo the different elements

Coordinate with the @daniel-doktor

[2018-12-11 14:41] Dan9boi opened #275 "Test slack integration"
Testing

[2018-12-11 14:42] Dan9boi commented on #275
it's-a-working!

[2018-12-11 14:42] #275 closed

[2018-12-13 09:40] Dan9boi opened #277 "Make intelligent import function"
It would be cool if you could do something like the generate.js script, that would download the component from the _Design system_.

I imagine some node script you can run, and then node clones the component (folder) from the Desgin system repo, and copies it into my own websites's component.

Syntax for the script could be something like this:
[code]

@bjørnnyborg

[2019-01-03 07:45] #268 closed

[2019-01-07 06:38] Dan9boi commented on #264
great work @Henrikschytze

[2019-01-07 06:38] #264 closed

[2019-01-07 07:52] daniel-doktor opened #278 "Support for screens on bigger resolutions"
I am looking for a setup of the grids on bigger screens.
Screen sizes like 1440px, 1600px, 1920px, 2560px.

Default screen sizes are getting larger and standard screen sizes in Denmark and the nordic countries are 1440px and 1920px http://gs.statcounter.com/screen-resolution-stats/all/denmark

I know it is a relative thing in relations to the project – but it would be nice to make a setup – if the

[2019-01-07 07:56] Dan9boi commented on #278
What should happen on the larger screensizes for images, text and so on?
What about containers? Right now i think containers have a `max-width: 1200px;`

[2019-01-07 08:03] daniel-doktor commented on #278
What options do we have?
Can we make several versions of the grid elements?

[2019-01-07 08:06] Dan9boi commented on #278
what do you mean by _grid elements_?
I think about the containers, should they have a new `max-width` on larger screens?
Images will be loaded in the correct way, if the containers are larger, already.
Should text's be larger on larger screens? What are the best practices?

[2019-01-07 08:14] daniel-doktor commented on #278
With grid elements I mean the elements, objects, content – the different columns and rows with content. I am not sure what the semantics of this is with you.

They could have max-width in some cases and some cases not – that is why I think it would be nice to see some different examples.

And yes I think text should scale up proportionally.

[2019-01-08 10:07] daniel-doktor commented on #258
How is this project coming along?

[2019-01-08 10:48] Henrikschytze commented on #258
I'll follow up on it soon and implement parallax 👍

[2019-01-11 11:19] Dan9boi commented on #250
is this done @ankeris ?

[2019-01-11 11:20] Dan9boi commented on #245
closing due to #247

[2019-01-11 11:20] #245 closed

[2019-01-11 11:20] Dan9boi commented on #246
closing due to #248

[2019-01-11 11:20] #246 closed

[2019-01-11 13:15] Bjornnyborg commented on #184
Ive made a datepicker based on flatpickr #281
It doesnt look a lot like the invision design, due to the complexity of styling flatpickr.

[2019-01-11 13:15] #184 closed

[2019-01-11 13:36] daniel-doktor opened #282 "Search field in Fractal"
Search option – with the possibility for searching for all components within fractal

[2019-01-14 07:30] Dan9boi commented on #278
Max-width 2560px
Make sure to test it.
Scale font-size aswell from screensize of 1024px and up.
Make  1440px, 1600px, 1920px, 2560px media queries.

[2019-01-14 07:55] tbb2 commented on #278
We need larger screens in order to test then :-)

[2019-01-18 10:19] daniel-doktor commented on #218
@Dan9boi  The background video for youtube is not responsive and the video can be controlled when clicked.

The background video for Vimeo – when the video container is made taller – you can see the vimeo controls – further more you can also control the video by clicking it (start/ stop)

[2019-01-18 11:14] Dan9boi commented on #218
Vimeo loads the video om mobile. Maybe the different types of videos should behave the same (show fallback image on mobile)

[2019-01-18 12:44] Dan9boi commented on #218
Make sure to test on real mobile devices aswell.
Please test the vimeo scaling by using a different video, with people or something that needs a special scaling/cropping

[2019-01-25 14:15] Henrikschytze commented on #218
- [ ] Make YT background responsive
- [ ] Remove every control possible from both YT and Vimeo
- [ ] Avoid making network requests when playing on devices that do not have the required width for videos
- [ ] Fix Vimeo scaling

[2019-02-01 11:18] #266 closed

[2019-02-08 08:26] daniel-doktor opened #286 "Logo download page in Fractal under "Design Guidelines""
Can we make a download page under "Design Guidelines" where everyone can preview and download the logos of Novicell in all its colors?

Include
RGB: png, jpg,
[tagline-no-tagline.zip](https://github.com/Novicell/novicell-frontend/files/2844217/tagline-no-tagline.zip)
svg – red, black white
CMYK: pdf, ai – red, black white

Attached are the logo package

[2019-02-11 06:09] #205 closed

[2019-02-11 06:11] Dan9boi commented on #250
closing as to https://github.com/Novicell/novicell-frontend/commit/046a73b3dbf9b6891f76809bf74fd73bf1268659#diff-00bf9b83b2015b30064c2755fdb36745

[2019-02-11 06:11] #250 closed

[2019-02-11 06:11] Dan9boi commented on #282
Done as of #219

[2019-02-11 06:11] #282 closed

[2019-02-11 06:12] Dan9boi commented on #217
closing due to #272

[2019-02-11 06:12] #217 closed

[2019-02-11 06:13] Dan9boi commented on #212
closing due to #213

[2019-02-11 06:13] #212 closed

[2019-02-11 06:14] Dan9boi commented on #207
@Nyfjeld @jefctilsted what is the status for this issue?

[2019-02-11 06:15] Dan9boi commented on #206
@Nyfjeld @jefctilsted what is the status for this issue?

[2019-02-11 06:15] Dan9boi commented on #195
closing due to #195

[2019-02-11 06:15] #195 closed

[2019-02-11 06:16] Dan9boi commented on #159
This is added to the new version #273

[2019-02-11 06:16] #159 closed

[2019-02-11 06:20] Dan9boi commented on #135
@soreng sup?

[2019-02-11 06:21] #135 closed

[2019-02-11 06:27] Dan9boi commented on #218
Great job @Henrikschytze 💯
Can you fix the merge conflicts?

[2019-02-11 13:50] tbb2 commented on #231
Not relevant anymore, we already did it and now we are changing the validation script too

[2019-02-11 13:50] #231 closed

[2019-02-11 13:55] tbb2 commented on #152
@Dan9boi is this still relevant or could we just close the issue?

[2019-02-11 13:56] #152 closed

[2019-02-11 13:57] tbb2 commented on #83
closed due to #265

[2019-02-11 13:57] #83 closed

[2019-02-11 13:58] #234 closed

[2019-02-11 13:59] #233 closed

[2019-02-12 07:50] Dan9boi commented on #107
closing due to #268

[2019-02-12 07:50] #107 closed

[2019-02-12 07:51] Dan9boi commented on #191
will be fixed in v5

[2019-02-12 07:51] #191 closed

[2019-02-21 09:36] Dan9boi commented on #236
closing due to #289

[2019-02-21 09:36] #236 closed

[2019-04-05 12:08] Dan9boi commented on #218
done in #239

[2019-04-05 12:08] #218 closed

[2019-04-05 12:15] Dan9boi commented on #265
Great job, i'm going to release this just now 🎉

[2019-04-05 12:15] #265 closed

[2019-06-03 12:18] shp-novicell opened #294 "@ sign is no recognized as path"
![image](https://user-images.githubusercontent.com/19607667/58801279-5b3c8a80-860a-11e9-9a8a-daad299ecfcd.png)

[2019-06-13 08:29] hesselberg opened #297 "CreateComponent failing with mkdir"
I cannot seem to get the `createComponent` command to work.
It appears to be failing at creating a folder.

Getting the result of `const joined = dirPath.slice(0, index + 1).join('/');` produces an empty result.

[code]

[2019-06-13 12:36] ankeris commented on #297
@hesselberg, Hi, thanks for informing. Can you give any details about what OS are you experiencing this on? And also what terminal are you using?

[2019-06-13 12:57] hesselberg commented on #297
I’m on Mac OSX High Sierra. Happening on both terminal and iTerm2.

On Thu, 13 Jun 2019 at 13.36, Juozas Rastenis <notifications@github.com>
wrote:

--
Med venlig hilsen
Lars Hesselberg

Tlf. 60 20 56 07
lars@larshesselberg.dk
www.larshesselberg.dk

[2019-06-13 15:50] hesselberg commented on #297
Sorry I lied - I'm on Mojave, the newest one

[2019-06-17 16:15] hesselberg opened #298 "Suggestion: Code styling"
Not sure where else to put this, so here goes.

It seems we don't have a set code style in place, and as of that, eslint, stylelint and Prettier (if installed) are all fighting to control what the formatting and code style should be.

I suggest we configure to use Airbnbs code style, and make it a requirement to install Prettier.

Thoughts?

[2019-06-17 19:31] jhavmoeller commented on #298
I think there is a code style in place right now?

- eslint for javascript extending the airbnb and eslint recommended
- stylelint for styles.

Doesnt it work?

[2019-06-18 07:54] hesselberg commented on #298
@jhavmoeller you're totally right, honestly I didn't check if it was there or not. My bad. That being said, I still have the issue of Prettier fighting over eslint/stylelint sometimes, not to mention Stylelint shouting and screaming at me.

Do we need stylelint, if everyone goes with Prettier and a default config for Prettier? I'm not sure which way is the best way to go

[2019-06-19 10:35] hesselberg opened #299 "Feature request: sprites script to handle multi coloured, multi layered svgs"
Its been around for a while, but recent trends requires more fancy SVGs and icons supporting multi colours and multi layers.

Our current sprite script seems to require a specific format for svgs, thus, not allowing fancy svgs in sprites.

Helpful link: https://css-tricks.com/svg-sprites-use-better-icon-fonts/

Multi coloured multi layered svg icon for reference:
[code]

[2019-06-26 14:44] hesselberg commented on #299
Ok so short update -- appears the issue is that our sprite.js script removes all fills, strokes and transforms. If you have 1-dimensional 1-color icons thats fine, but if you need more fancy svgs, this won't do.

I guess this is more a question how we want it to behave, but if anyone has issues similar to mine in the short term, removing the following will do the trick, if you need more control ov

[2019-06-27 09:08] shp-novicell opened #302 "Sprites task Linux is returning only first file in the GLOB"
Whenever I build it on Netlify (which is using Linux OS), only the first sprite is being generated. Perhaps there is shell timing problem.

[2019-06-27 09:13] hesselberg commented on #302
https://github.com/Novicell/novicell-frontend/blob/011bca4e023008e5d20108eca514cadff19a823a/package.json#L21

Should be

`"sprites": "cross-env-shell node config/sprites/sprite.js -i 'assets/icons/**/**/*.svg' -o $npm_package_config_DIST/icons/icons.svg"`

[2019-09-02 09:58] Bjornnyborg commented on #299
Hey @hesselberg, i created a pull request #303 , @Dan9boi will you check and merge, if you agree with the decision?

[2019-09-02 10:14] Bjornnyborg commented on #297
I've tested on a Mojave machine (node v.12.7), and it seems to work just fine. :)
Did commit #301 maybe fix it? And did you remember to run "npm link" in root dir, of your project?

[2019-09-02 10:42] Bjornnyborg commented on #294
Fixed in #300

[2019-09-02 10:42] #294 closed

[2019-09-02 11:13] Bjornnyborg commented on #207
Closed, default components is moved to: https://github.com/Novicell/novicell-components

[2019-09-02 11:13] #207 closed

[2019-09-02 11:13] Bjornnyborg commented on #206
Closed, default components is moved to: https://github.com/Novicell/novicell-components

[2019-09-02 11:13] #206 closed

[2019-09-02 11:33] Bjornnyborg commented on #267
Closed, this repo is not for examples, showcases or anything like that. It's only for base frontend setup. :)
If this is still a request, you need to make it at https://github.com/Novicell/novicell-components/

[2019-09-02 11:33] #267 closed

[2019-09-02 11:35] Bjornnyborg commented on #286
@daniel-doktor Isnt it what this is for? :) https://www.novicell.dk/om-novicell/pressemateriale/
Also, this project is only for the base frontend setup, it doesnt contain components or examples anymore.

[2019-09-02 11:35] #286 closed

[2019-09-02 11:36] Bjornnyborg commented on #260
Closed, components now lives at https://github.com/Novicell/novicell-components/

[2019-09-02 11:36] #260 closed

[2019-09-02 11:36] Bjornnyborg commented on #219
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a requst.

[2019-09-02 11:36] #219 closed

[2019-09-02 11:37] Bjornnyborg commented on #220
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:37] #220 closed

[2019-09-02 11:38] Bjornnyborg commented on #238
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:38] #238 closed

[2019-09-02 11:38] hesselberg commented on #299
@Bjornnyborg it really depends on what kind of icons/svgs we use in the different projects. I think its best if we don't do it, but at the same time, if its a simple project with 1-dimensional icons, its handy having them being "cleaned"

[2019-09-02 11:38] Bjornnyborg commented on #240
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:38] #240 closed

[2019-09-02 11:38] Bjornnyborg commented on #243
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:38] #243 closed

[2019-09-02 11:38] Bjornnyborg commented on #259
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:38] #259 closed

[2019-09-02 11:40] Bjornnyborg commented on #258
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:40] #258 closed

[2019-09-02 11:40] Bjornnyborg commented on #269
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:40] #269 closed

[2019-09-02 11:44] Bjornnyborg commented on #278
Closed, components now live at https://github.com/Novicell/novicell-components/
Repost issue on new repo, if its still a request.

[2019-09-02 11:44] #278 closed

[2019-09-02 11:47] hesselberg commented on #297
@Bjornnyborg it worked with 301 -- I think this was never closed as a part of fixing it :-)

[2019-09-02 11:47] #297 closed

[2019-09-02 12:37] Bjornnyborg commented on #302
Fixed in #305

[2019-09-02 12:37] #302 closed

[2019-09-02 12:43] Bjornnyborg commented on #299
@hesselberg Even when we have simple icons, we often need to do something like extracting strokes and merging layers. I only think this feature makes sense if we could completely avoid manual handling of the files. So let's remove it for now. :)

[2019-09-02 12:43] #299 closed

[2019-09-02 12:47] Dan9boi opened #306 "Create component: Add class to CSS file"
Instead it would be nice, if we had the
.component-name{
}

ready in the css file when generated (including a newline at the end of the file, to avoid angry linter)

_Originally posted by @tbb2 in https://github.com/Novicell/novicell-frontend/pull/304#issuecomment-527124916_

[2019-09-02 12:51] Dan9boi commented on #298
I think we should look at for example how NUXT is using prettier to use the ESlint configs, and then just use prettier (remove stylelint). That way we have ESlint for JS and Prettier for (mostly) css.
Anyone disagrees with this?

[2019-09-02 12:52] Dan9boi commented on #277
maybe this should just be removed...

[2019-09-02 12:55] Bjornnyborg commented on #306
@hesselberg also suggested to remove the default markup from the component. Maybe we should just make a div, the the class ".component-name" and render the component name as the only thing inside the div. What do you think @hesselberg and @Dan9boi ?

[2019-09-02 12:59] Dan9boi opened #307 "CSS for backoffice"
How could we do CSS for eg. styling Umbraco Grid in the backoffice?

### Requirements:
A way of adding PostCss plugins for only some bundles - Eg. `postcss-prefix` for prefixing all classes.

### Suggestion:
Add a flag to the `style`-task like:
[code]
Or maybe a way of adding bundles of CSS and defining which plugins they use...

[2019-09-02 13:00] hesselberg commented on #306
I think thats much better.

I've modified the script in our most recent project to do the following:

.config.json:
[code]

[2019-09-02 13:05] hesselberg commented on #307
Awesome! It would be even better if the generated file is a separate file, also just deployed to the `dist` folder. That way, whenever a new release in the FE project is submitted, the pipeline for the implementation project just pulls in the dist folder, and nobody has to do manual copy / paste of files.

[2019-09-02 14:23] soreng commented on #307
When creating SPA solutions, where umbraco is just used as a content repo, the umbraco (or other CMS) can be in a different solution, thus not having the ability to shared frontend code.

This is how many of the solutions in Commerce are being build these days. Please consider this when implementing new features.

[2019-09-02 15:21] hesselberg commented on #307
@soreng exactly -- in the most recent project in our team we've kept the split between our FE repo and Umbraco repo, even though there's no SPA. The Umbraco repo just pulls in the FE as a submodule when building, copying in the dist folder.

[2019-09-02 15:26] Dan9boi commented on #307
...and this repository is for "non-SPA" anyways, but thanks for the concideration @soreng 💯

[2019-09-02 15:30] Dan9boi commented on #307
@hesselberg did you try the **"not-so-elegant-but-still-may-work"**-solution, adding CSS like this in the `backoffice.css`:

[code]

For doing the nesting, without using a postcss-plugin...

[2019-09-02 15:32] hesselberg commented on #307
@Dan9boi I didn't, but thats more a case of the backoffice.css not being processed by postcss.
This means that the imports will be stay as they are, rather than being inlined.

This on top of the us nesting things and then with the postcss-nested module rewriting it not to be nested, causes a lot of headaches.

Again for our current setup we keep the FE repo and the BE repo separate :-)

[2019-09-03 11:13] Dan9boi commented on #306
@tbb2 what do you say?

[2019-09-03 11:20] tbb2 commented on #306
What I think would be really awesome is if you can use the component name inside the files like this:

.config.json:
`
{
  "title": "my-organism-name",
  "status": "backlog",
  "context": {}
}
`
.css:
`/* Insert css here */
.my-organism-name{
}
`

.hbs:
`<div class="my-organism-name"></div>`

If not, the suggestion from @hesselberg is fine

[2019-09-03 11:22] tbb2 commented on #306
I guess I don't know how to do line-breaks inside code in this text-editor - the line-breaks should of course be as hesselberg's

[2019-09-03 11:32] Dan9boi commented on #306
I've fixed your markdown now - just added the tripple backticks *```*.
You can see [here](https://guides.github.com/features/mastering-markdown/) how to do code with syntax highlighting and more:

[2019-09-03 11:50] Bjornnyborg commented on #306
I reworked the generator according to your comments: https://github.com/Novicell/novicell-frontend/tree/feature/component-generator-cleaning, feedback is appreciated! :)

[2019-09-03 11:53] Bjornnyborg commented on #306
`createComponent -t a -n "My Component"` generates:

[code]
.css:
[code]

.hbs:
[code]

[2019-09-03 12:10] tbb2 commented on #306
It's nice! I think it would be nicer though, if you write the class name when you create the component
´´´createComponent -t a -n "my-component"´´´
since that is the most important name for the developer - actually you only see the title from the json file if you're working in fractal.

Whether you want to leave the dashes in the title in the json file or replace them with spaces and capitalize fi

[2019-09-03 12:20] hesselberg commented on #306
The title in the JSON file is just as important, as it generates the title in Fractal. Loving everything else!

[2019-09-03 12:23] tbb2 commented on #306
The title in the JSON file only generates the title that is shown above the preview iframe in fractal. The title in the navigation in fractal is generated from the folder name instead

[2019-09-03 12:27] Bjornnyborg commented on #306
I updated the generator, now the name argument is used directly as file/folder name, and a capitalized version with spaces instead of dashes, is used as the title. :)

[2019-09-03 12:28] tbb2 commented on #306
@Bjornnyborg I think that's splendid

[2019-11-19 20:59] sebimoe opened #317 "Use production Vue"
When building for production (`build:prod`) development distribution of Vue is included. (Verifiable by console warning if you install vue and import it in the project)

I submit a pull request to include .min.js distribution (production mode build) in production environment, but I am not sure why Vue needs to be explicitly aliased there rather than imported.

[2019-12-09 08:29] Dan9boi commented on #317
@ankeris do you have any comments to this?
Maybe some insights?

[2020-01-06 09:49] Henrikschytze opened #321 "Fix security vulnerabilities"
Fix possible security vulnerabilities by auditing packages

[2020-01-07 10:10] #317 closed

[2020-01-07 11:57] hesselberg commented on #307
@Dan9boi in case of that we use the Novicell frontend package for a non Umbraco site, how would this then work? It would either mean that we generate extra stylesheets that will never be used, or, you have to remember to generate the stylesheets every time.

Also, if the Umbraco setups are different, (for instance if one uses the Doc Type Grid Editor, and one doesn't), it also changes the styles a

[2020-01-07 12:28] Dan9boi commented on #307
You can just decide to only make a new css module (css file in modules folder) that includes the suggested stuff, and you could nest it in whatever - doesn't need to be an umbraco selector...
Maybe just:
[code]

[2020-01-07 12:30] Dan9boi commented on #307
If you have a better solution to the problem, please bring ideas :)

[2020-01-07 13:07] hesselberg commented on #307
I actually did set up a stylesheet being generated specifically for the Umbraco grid, but also the RTE.

First I added `postcss-prefixwrap` and `postcss-import-ext-glob` as devDependencies.

I created new postcss config files, similar to the normal one but also including the following plugins:

[code]

Then, a few changes to the `package.json` file:

[code]

Finally an example of the `umbraco-grid

[2020-01-17 11:23] TJSoler opened #324 "Duplicated config key"
https://github.com/Novicell/novicell-frontend/blob/cab5bfd02401186d2346a16cf8e15006746e1c90/config/scripts/webpack.config.js#L68-L73

Which one is it?
`analyzerMode: 'disabled',` or `analyzerMode: 'static',` ?

:P

[2020-02-28 07:20] #321 closed

[2020-05-13 08:16] Ithalio opened #326 "Video: Autoplay not playing with fullscreen video"
Autoplay won't work if the video is larger than the window size, which it often will be during e.g. demos to clients.

[2020-08-14 08:33] Dan9boi commented on #326
I think this is an issue for the premium frontend package, and i will close this issue here.

[2020-08-14 08:33] #326 closed

[2020-08-14 08:36] Dan9boi commented on #307
@hesselberg Any news on this? did you go with this approach or make something else?
Either way, please share the guide or code :)

[2020-08-14 08:37] Dan9boi commented on #306
i guess this can be closed due to @Bjornnyborg 's commit?

[2020-08-14 08:37] #306 closed

[2020-08-14 08:55] soreng opened #328 "Replace uglify with terser"
npm install terser-webpack-plugin --save-dev
npm uninstall uglifyjs-webpack-plugin
npm uninstall uglify-js

in webpack.config.js we replaced the uglify plugin, but retained the same options:

[code]

[2020-08-14 08:57] Dan9boi commented on #328
good job @soreng 💯

[2020-08-14 09:06] hesselberg commented on #328
@soreng how come we're doing this?

[2020-08-14 09:19] Dan9boi commented on #328
@hesselberg actually what they say on github:

@soreng

[2020-08-14 11:56] hesselberg commented on #328
@Dan9boi all good, just think its important we document/explain why we are doing things :-)

[2020-08-17 12:48] #328 closed